:root {
  --purple: #9b90ff;
  --light-purple: #e5e3fc;
  --yellow: #ffcd2e;
  --white: #fae9e9;
  --gray: #7a7a79;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--yellow);
  height: 10rem;
}

button {
  width: 10rem;
  height: 2rem;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 800;
}

section {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnLifeTime {
  background-color: var(--purple);
  border-radius: 20px;
}

.btnLifeTime a {
  text-decoration: none;
  color: var(--white);
}

.btnNextBirth {
  background-color: var(--yellow);
  color: var(--purple);
  border-radius: 20px;
}

#date {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* addDate screen */
section .input-group {
  width: 18rem;
}

section .form-select {
  border-radius: 20px;
}

form option {
  color: black;
  background-color: rgb(243, 239, 250);
}

/* showResult screen */
#lifeTime {
  display: none;
}

section .table {
  width: 50%;
}

section .table .adjective {
  color: var(--purple);
  font-weight: 500;
}

section .table .description {
  color: var(--gray);
  font-weight: 800;
}




